# ambientes
venv/
.venv/
backend/venv/
backend/.venv/

# cache python
__pycache__/
*.pyc

# segredos
.env.local
*.env.local
backend/.env.local
.env.docker
*.env.docker
backend/.env.docker

# IDE/SO
.vscode/
.DS_Store
Thumbs.db